gunicorn==20.0.4
django==3.0.7
djangorestframework==3.11.0
django-secrets==1.0.2
Pygments==2.6.1
requests==2.23.0
beautifulsoup4==4.9.1
whitenoise==5.1.0
# djangorestframework-yaml==1.0.3
# djangorestframework-xml==1.4.0
# djangorestframework-jsonp==1.0.2
djangorestframework-msgpack==1.0.2
djangorestframework-csv==2.1.0
# mysqlclient==1.4.2.post1
dealer==2.1.0
